.app-header {
  display: flex;
  background-color: rgba(207, 35, 56, 1);
  justify-content: space-between;
  padding: 0 5%;
  white-space: nowrap;
  line-height: 67px;
  text-align: left;
  font-family: Segoe UI, Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: rgba(250, 252, 252, 1);
}
.app-header__gr-btn {
  cursor: pointer;
}
.app-header__gr-btn a {
  color: rgba(250, 252, 252, 1);
  text-decoration: none;
}
